<!DOCTYPE html>
<html lang="en-US">
	<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>FindCleaner Service Paid</title>
	</head>
		<body style="margin:0px; font-family:Tahoma, Geneva, sans-serif;">
			<div style="padding:10px; background:#D3D3D3; font-size:30px; color:#00008B">
                            <a href="https://findcleaners.com.ng"><img src="https://findcleaner.ng/favicon.png" width="35" height="35" alt="Ntradex.com" style="border:none; float:left;"></a>
                            FindCleaner Service Request Payment
                        </div>
 
			<div style="padding:24px; font-size:13px;">
				<span style="font-weight:bold">Hi {{provider_name}},</span><br/><br/>
                    Your payment has been successfully made, Find the details below.
					<p>
						<div>
							<span style="font-weight:bold">Service Name: </span> {{ service_name }}
						</div>
						<div>
							<span style="font-weight:bold">Provider Name: </span>{{provider_name}}
						</div>
                        <div>
							<span style="font-weight:bold">duration : </span>{{duration}}
						</div>
                        <div>
							<span style="font-weight:bold">Service Date : </span>{{ deliver_on|date:"D d M Y"}}
						</div>
						<div>
							<span style="font-weight:bold">Service Time : </span>{{ deliver_on|time:"H:i"}}
						</div>
						<div>
							<span style="font-weight:bold">Amount : </span>₦{{amount}}
						</div>
					</p>
			</div>

			<p>
				<span style="font-weight:lighter; font-size: 10px;">FindCleaner Team.</span><br />
				<span style="font-weight:lighter; font-size: 10px;">https://findcleaners.com.ng</span><br />		
			</p>
	</body>
</html>
