<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Activated</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
    <style>
      .body {
        background-color: #bbdefb;
        background: linear-gradient(to right, #90caf9, #0d47a1);
        text-align: center;
      }

      .section {
        width: 50%;
        /* height: 50%; */
        background-color: #fff;
        margin: 15% auto;
        border-radius: 5px;
        padding: 50px;
        color: green;
      }

      .login {
        color: green;
        font-weight: bolder;
      }

      .icon {
        font-size: 24px;
      }
    </style>
  </head>

  <body class="body">
    <section class="section">
      <p class="icon"><i class="fas fa-check"></i></p>
      Your account has been successfully activated. You can now
<!--      <a href="https://{{ domain }}.manageme.net/login" class="login">login </a>-->
      login on the app.
    </section>
  </body>

</html>